estilo.vir

h1{
    color: red;
    text-align: center;
    background-color: rgb(5, 247, 114);
    text-shadow: 5px 5px 10px yellow;
  
}
h2{
    color: rgb(50, 230, 221);
    text-align: center;
    text-shadow: 5px 5px 10px green;
    
}
h3{
    color: rgb(50, 230, 221);
    text-align: center;
    background-color: rgb(240, 28, 187);
    text-shadow: 5px 5px 10px green;
}
tr{
    color: blue;
    
}
body{
    background-color: rgb(245, 129, 164);
}
label{
    color: rgb(231, 204, 204);
}
input{
    background-color: yellow;
}
img{
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(47, 125, 243);
    
   }


